/* All Pages */
body {
    background-color: #E7EEEF;
    padding: 0;
    margin: 0;
}
/* All Pages */

/* Navbar Component Styling */
.navbar.navbar-expand-lg {
    background-color: #33658A;
    display: flex;
    max-height: 60px;
    overflow: hidden;
}

.nav-item {
    margin-left: 30px;
}

.btn-warning {
    background-color: #F6AE2D;
    border-color: black;
    border-width: 2px;
}
/* Navbar Component Styling */

/* Card Styling */
.card {
    margin: auto;
    margin-top: 10vh;
    width: 70vh;
    height: 60vh;
    border-radius: 30px;
}

.card-body {
    background-color: #86BBD8;
    border-radius: 30px;
}
/* Card Styling */

/* Sign Up Card */
.sign-up {
    margin-top: 10vh;
    width: 190vh;
    height: 70vh;
}
/* */

.btn-secondary {
    border-width: 2px;
    border-color: black;
    background-color: #2F4858;
}

.btn-secondary:hover {
    background-color: #2F4858;
    border-color: #2F4858;
}